.loadt{
    font-family:'B Esfehan' !important;
}
.navt{
    font-family:'B Esfehan'; font-size:20pt; color:#2a2424
}
.navmenut{
    font-family:'B Homa' !important
}
.khabar{
    text-align:right !important;
    direction:rtl !important;
}
.addresst{
   
   height:200px;
  
   border-radius:10px;
    
}
